<?xml version="1.1" encoding="UTF-8" standalone="no"?>
<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog" xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.6.xsd">

    <changeSet author="n.naderi (generated)" id="1560335351244-1">
        <preConditions onFail="MARK_RAN">
            <not>
                <tableExists tableName="loging"/>
            </not>
        </preConditions>
        <createTable tableName="loging">
            <column autoIncrement="true" name="client_id" type="BIGINT">
                <constraints primaryKey="true"/>
            </column>
            <column name="type" type="VARCHAR(50)"/>
            <column name="level" type="VARCHAR(255)"/>
            <column name="name" type="VARCHAR(255)"/>
            <column name="message" type="VARCHAR(255)"/>
            <column name="request_data" type="VARCHAR(255)"/>
            <column name="response_data" type="VARCHAR(255)"/>
            <column name="server_date" type="datetime"/>
            <column name="user_id" type="BIGINT"/>
        </createTable>
    </changeSet>
    <changeSet author="n.naderi (generated)" id="1560335351244-2">
        <preConditions onFail="MARK_RAN">
            <not>
                <tableExists tableName="student"/>
            </not>
        </preConditions>
        <createTable tableName="student">
            <column autoIncrement="true" name="client_id" type="BIGINT">
                <constraints primaryKey="true"/>
            </column>
            <column name="created_at" type="datetime"/>
            <column name="created_by" type="VARCHAR(255)"/>
            <column name="email_address" type="VARCHAR(255)"/>
            <column name="first_name" type="VARCHAR(255)">
                <constraints nullable="false"/>
            </column>
            <column name="last_name" type="VARCHAR(255)">
                <constraints nullable="false"/>
            </column>
            <column name="updated_at" type="datetime"/>
            <column name="updated_by" type="VARCHAR(255)"/>
        </createTable>
    </changeSet>
</databaseChangeLog>
